@import "../node_modules/bootstrap/scss/functions";

.nav-item {
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: Roboto;
  font-weight: lighter;
  text-transform: uppercase;
}

.navbar-brand {
  margin-left: 10vw;
  margin-top: 4vw;
  font-size: 30px;
  font-family: Roboto;
  font-weight: lighter;
  color:#F2F2EB;
}

.navbar-nav {
  margin-right: 10vw;
}

.btn-sm {
  background-color: #ed533a;
  text-transform: uppercase;
  color: #F2F2EB;
}

.container-fluid {
  position: relative;
  text-align: center;
}

.tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -12vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 1.5vw;
}

.main-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5vw;
  color: #FFFFFF;
  font-size: 8vw;
  font-family: Roboto;
  font-weight: regular;
}

.btn-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 9vw;
  background-color: #ed533a;
}

.img-fluid {
  margin-left: -20px;
}

.bi-cup-hot, .bi-patch-check, .bi-box2-heart {
  color: #A6A6A6;
  margin: 5vw;
}

.icon {
  margin-bottom: -4vw;
}

/* icon captions */
.icon-font {
  font-size: 2rem;
  color: #A6A6A6;
  margin: -4vw;
  font-family: Roboto;
  font-weight: regular;
}

@media (min-width: 280px) {
  .icon-font {
    font-size: .5rem;
  }
}

@media (min-width: 375px) {
  .icon-font {
    font-size: .7rem;
  }
}

@media (min-width: 768px) {
  .icon-font {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .icon-font {
    font-size: 1.2rem;
  }
}
/* icon font */

.about-container {
  margin-bottom: -4vw;
}

.row {
  margin: 15vw;
}

.col-text {
  padding-top: 4vw;
  text-align: left; 
}

.dal-image {
  padding-top: 5vw;
  padding-left: 5vw;
}

/* about us */
.about-us {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 6rem;
  color: #A6A6A6;
}

@media (min-width: 280px) {
  .about-us {
    font-size: 1rem;
  }
}

@media (min-width: 375px) {
  .about-us {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .about-us {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .about-us {
    font-size: 4rem;
  }
}

/* about us text*/

.about-us-text {
  padding-top: 3vw;
  font-size: 2rem;
  color: #A6A6A6;
  font-family: Roboto;
  font-weight: regular;
}

@media (min-width: 280px) {
  .about-us-text {
    font-size: .5rem;
  }
}

@media (min-width: 375px) {
  .about-us-text {
    font-size: .7rem;
  }
}

@media (min-width: 768px) {
  .about-us-text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .about-us-text {
    font-size: 1.2rem;
  }
}
/* about us text*/

.btn-know-more {
  margin-top: 3vw;
  background-color: #ed533a;
}

.know-more {
  font-family: Roboto;
}

/* footer links*/

.footer-links {
  padding-top: 3vw;
  font-size: 2rem;
  color: #A6A6A6;
  font-family: Helvetica;
  font-weight: lighter;
}

@media (min-width: 280px) {
  .footer-links {
    font-size: .5rem;
  }
}

@media (min-width: 375px) {
  .footer-links {
    font-size: .7rem;
  }
}

@media (min-width: 768px) {
  .footer-links {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .footer-links {
    font-size: 1.2rem;
  }
}

/* footer links*/

.bi-facebook {
  margin-top: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #F2F2EB;
}

.bi-twitter {
  margin-top: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #F2F2EB;
}

.logo-2 {
  margin-top: 4vw;
  margin-left: .5vw;
}

.footer {
  margin-bottom: -15vw;
}

/* copyright info*/

.copyright-info {
  padding-top: 10vw;
  padding-bottom: 3vw;
  font-size: 1rem;
  color: #A6A6A6;
  font-family: Helvetica;
  font-weight: lighter;
}

@media (min-width: 280px) {
  .copyright-info {
    font-size: .3rem;
  }
}

@media (min-width: 375px) {
  .copyright-info {
    font-size: .5rem;
  }
}

@media (min-width: 768px) {
  .copyright-info {
    font-size: .7rem;
  }
}

@media (min-width: 1200px) {
  .copyright-info {
    font-size: 1rem;
  }
}

/* copyright-info*/

/* About us Page */
.about-heading {
  font-family: Roboto;
  font-weight: lighter;
  color: #FFFFFF;
  font-size: 5vw;
  margin-top: 8vw;
}

.about-text {
  font-family: Roboto;
  color:#F2F2EB;
  font-size: 2vw;
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vw;
}

/* Contact Page */

.contact-heading {
  font-family: Roboto;
  font-weight: lighter;
  color: #FFFFFF;
  font-size: 5vw;
  margin-top: 8vw;
  margin-bottom: 5vw;
}

.bi-telephone, .bi-envelope, .bi-geo-alt {
  margin-top: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 7vw;
  color: #F2F2EB;
}

.map-container{
  overflow:hidden;
  padding: bottom 50px;
  margin-bottom: 10vw;
  position:relative;
  height:0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* Menu */

.menu-heading {
  font-family: Roboto;
  font-weight: lighter;
  color: #FFFFFF;
  font-size: 5vw;
  margin-top: 8vw;
  margin-bottom: 5vw;
}

.menu-text-heading {
  margin-bottom: 6vw;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 4vw;
  color: #F2F2EB;
}

.menu-text {
  margin-left: 3vw;
  font-family: Roboto;
  color:#F2F2EB;
  font-size: 2vw;
  text-align: left;
}

.menu-price {
  margin-right: 3vw;
  font-family: Roboto;
  color:#F2F2EB;
  font-size: 2vw;
  text-align: right;
}

.asterisk {
  text-align: right;
  font-family: Roboto;
  font-size: 1vw;
  color: #F2F2EB;
}

// 2. Include any default variable overrides here
$link-hover-color: #A6A6A6;
$link-decoration: none;
$link-color: #F2F2EB;
$primary: #060606;
$secondary: #ed533a;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";